.header {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 70vh;
  color: white;
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

h1 {
  font-family: var(--font-julius);
  font-size: 2.7rem;
  font-weight: bold;
}

.skills,
.social,
.presentation,
.container {
  width: 90%;
}

.skills ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: var(--font-julius);
  font-size: larger;
  font-weight: 600;
  flex-wrap: wrap;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 3rem;
}


.item-link {
  color: white;
}

.item-link i {
  transition: text-shadow .3s ease-in-out;
}

.item-link i:hover {
  text-shadow: 0 0 20px #2391F2;
}

.presentation {
  font-family: var(--font-montserrat);
  font-size: small;
  text-align: center;
  line-height: 1.5;
}

.presentation span {
  color: #55E7FC;
  font-weight: bold;
}


/* responsividade */
@media (min-width: 992px) {
  .header {
    height: 60vh;
    width: 100%;
  }

  .back-img {
    background-image: url(./img/background-header.svg);
    background-size: cover;
    background-position: center;
    height: 100%;
    box-shadow: 0 10px 50px #000A23;

  }

  .presentation {
    font-size: medium;
  }
}



@media (min-width: 1200px) {
  .header {
    height: 75vh;
    width: 100%;
  }
  
  .back-img {
    background-image: url(./img/background-header.svg);
    background-size: cover;
    background-position: center;
    height: 100%;
    box-shadow: 0 10px 50px #000A23;
  }

  .skills,
  .social,
  .presentation {
    width: 75%;
    font-size: larger;
  }

}
